Assignment 3 - Q1

In [89]:
import pandas as pd
import seaborn as sns
from scipy import stats
from scipy.stats import norm
from scipy.stats import shapiro
import numpy as np

In [90]:
df = pd.read_csv("D:\Assignment\Cutlets.csv")

In [91]:
df.head

<bound method NDFrame.head of     Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875>

In [92]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [93]:
#normality check for normal distribution

In [94]:
a_normal = shapiro(df['Unit A'])

In [95]:
a_normal

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

In [96]:
b_normal = shapiro(df['Unit B'])

In [97]:
b_normal

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [98]:
# Since a_normal and b_normal >= 0.05 . we accept H0 Unit A and B are normally dist.

In [99]:
# 2 samples, two tailed test is cnducted

In [100]:
pval = stats.ttest_ind(df['Unit A'], df['Unit B'])

In [101]:
pval

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [102]:
#Pvalue > 0.05 - Ho is accepted (no significant difference between the two units of cutlets)

Q2

In [103]:
#H0 - 4 labs having same TAT's 
#H1 - having different TAT's

In [104]:
df1 = pd.read_csv("D:\Assignment\LabTAT.csv")

In [105]:
df1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [106]:
df1.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [107]:
df1.var()

Laboratory 1    173.543568
Laboratory 2    223.715251
Laboratory 3    273.539607
Laboratory 4    227.559632
dtype: float64

In [108]:
normality1 = shapiro(df1['Laboratory 1'])

In [109]:
normality2 = shapiro(df1['Laboratory 2'])

In [110]:
normality3 = shapiro(df1['Laboratory 3'])

In [111]:
normality4 = shapiro(df1['Laboratory 4'])

In [112]:
print(normality1, normality2, normality3, normality4 )

ShapiroResult(statistic=0.9901824593544006, pvalue=0.5506953597068787) ShapiroResult(statistic=0.9936322569847107, pvalue=0.8637524843215942) ShapiroResult(statistic=0.9886345267295837, pvalue=0.4205053448677063) ShapiroResult(statistic=0.9913753271102905, pvalue=0.6618951559066772)

In [113]:
df1_pval = stats.f_oneway(df1['Laboratory 1'], df1['Laboratory 2'], df1['Laboratory 3'], df1['Laboratory 4'])

In [114]:
df1_pval

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [115]:
# df1_pval is very less than 0.05 so we reject Ho

Q3

In [116]:
buy = pd.read_csv("D:\Assignment\BuyerRatio.csv")

In [117]:
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [118]:
buy.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [119]:
array = np.array(buy)

In [120]:
array

array([['Males', 50, 142, 131, 70],
       ['Females', 435, 1523, 1356, 750]], dtype=object)

In [121]:
table = [[50, 142, 131, 70],[435, 1523, 1356, 750]]

In [122]:
table

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [123]:
chi_test = stats.chi2_contingency(table)

In [124]:
chi_test

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [125]:
#(stats, p_val, degree of freedom, expected values)

In [126]:
#P_val = 0.66 > that alpha 0.05

In [127]:
# Ho is accepted

Q4

In [129]:
cus_order = pd.read_csv("D:\Assignment\Costomer+OrderForm.csv")

In [130]:
cus_order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [131]:
cus_order.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [134]:
cus_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [139]:
cus_order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [140]:
cus_order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [141]:
cus_order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [142]:
cus_order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [175]:
con_table = [[280, 271, 269, 267], [20, 29, 31, 33]]

In [176]:
con_table

[[280, 271, 269, 267], [20, 29, 31, 33]]

In [177]:
con_chi = stats.chi2_contingency(con_table)

In [178]:
con_chi

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [180]:
# p_ val = 0.277 gretw=er than 0.05

In [181]:
#Hence H0 is accepted that diffevtive acrossthe countries are similar